/* 모니터링 custom css  */
.container {
    width: 250px;
  }
  label {
    color: #999;
    display: block;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  input[type="text"] {
    width: 100px;
  }
  #datatable>tbody>tr:hover {
    background-color: #daddeb;
  }

/* table */
.table {
  table-layout:fixed;
}
.table tr th {
  background-color : #4e73df;
  vertical-align: middle;
  color: #fff;
}
.table tr td {
  vertical-align: middle;
  overflow : hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}