/* table */
.table {
  table-layout: fixed;
}
.table tr th {
  background-color: #4e73df;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}
.table tr td {
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
/* pointer */
.cursor-pointer {
  cursor: pointer;
}

/* popup */
.info-popup {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* gusung-popup */
.gusung-popup > .container-fluid > div > div > .row > div .table-responsive {
  height: 410px;
  max-height: 410px;
}
.gusung-popup > .container-fluid > div > div > .row > div button {
  margin-left: 10px;
  margin-right: 10px;
}

/* textarea */
textarea {
  resize: none !important;
  resize: none;
}

/* label */

.custom-control-label {
  line-height: 1.5rem;
}

/* fieldset */

.cistp-fieldset {
  width: 100%;
  border: 1px solid #ededed;
  padding: 0.35rem;
}
.cistp-fieldset legend {
  color: #4e73df !important;
  font-weight: bold;
  width: auto;
  font-size: initial;
  padding: 0px;
}

/* gusung */

#gusungList > .list-group-item {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
#gusungList > .list-group-item:hover {
  border: 2px solid #839de8;
  z-index: 999;
}
#gusungList > .list-group-item:active {
  border: 2px solid #839de8;
  z-index: 999;
  background-color: aliceblue;
}

/* 로그인 */
.bg-login-image {
  background: url(/img/logo.png) center center !important;
  background-size: 70% !important;
  background-repeat: no-repeat !important;
  background-position: center;
}

/* 실행 */
.right-line {
  border-right: 2px solid #f1f1f1;
}
.d-inline-table {
  display: inline-table !important;
}

/* 업무구분 */
.list-code {
  display: inline-flex !important;
}

.outher-code {
  width: 50%;
  display: inline-flex !important;
}

.outher-code > div{
  width: 100%;
  margin: 0px !important;
}

/* 예상시간 */
.limit-time-text {
  display: inline-block;
  text-align: center;
  align-self: center;
  width: 12%;
  color: #4e73df!important;
  font-weight: 700!important;
  font-size: small;
}
.limit-time-input {
  display: inline-block;
  font-size: small;
}
.limit-time-input:nth-child(2) {
  width: 17% !important;
}
.limit-time-input:nth-child(4) {
  width: 25% !important;
}
.limit-time-input:nth-child(6) {
  width: 16% !important;
}