/* table */
.table {
  table-layout: fixed;
  user-select: none;
}

.table tr th {
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #4e73df;
  text-align: center;
  color: #fff;
}

.table tr td {
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

/* pointer */
.cursor-pointer {
  cursor: pointer;
}

/* popup */
.info-popup {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* gusung-popup */
.gusung-popup>.container-fluid>div>div>.row>div .table-responsive {
  height: 410px;
  max-height: 410px;
}

.gusung-popup>.container-fluid>div>div>.row>div button {
  margin-left: 10px;
  margin-right: 10px;
}

/* textarea */
textarea {
  resize: none !important;
}
.text_cnt{
  position: absolute;
  right: 0rem;
  transform: translate(100%, -100%);
  user-select: none;
}

/* label */

.custom-control-label {
  line-height: 1.5rem;
}

/* fieldset */

.cistp-fieldset {
  width: 100%;
  border: 1px solid #ededed;
  padding: 0.35rem;
}

.cistp-fieldset legend {
  color: #4e73df !important;
  font-weight: bold;
  width: auto;
  font-size: initial;
  padding: 0px;
}

/* gusung */

#gusungList>.list-group-item {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#gusungList>.list-group-item:hover {
  border: 2px solid #839de8;
  z-index: 999;
}

#gusungList>.list-group-item:active {
  border: 2px solid #839de8;
  z-index: 999;
  background-color: aliceblue;
}

/* 로그인 */
.bg-login-image {
  background: url(/img/logo.png) center center !important;
  background-size: 70% !important;
  background-repeat: no-repeat !important;
  background-position: center;
}

/* 실행 */
.right-line {
  border-right: 2px solid #f1f1f1;
}

.d-inline-table {
  display: inline-table !important;
}

/* 업무구분 */
.list-code {
  display: inline-flex !important;
}

.outher-code {
  width: 40%;
  display: inline-flex !important;
}

.outher-code>div {
  width: 100%;
  margin: 0px !important;
}

/* 예상시간 */
.limit-time-text {
  display: inline-block;
  text-align: center;
  align-self: center;
  color: #4e73df !important;
  font-weight: 700 !important;
}

.limit-time-input {
  display: inline-block;
  font-size: small;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

​ .gusungData {
  cursor: move;
}

​ .gusungData.sortable-moving {
  opacity: .4;
}

​ .gusungData.sortable-over,
#columns-dragOver .column.sortable-over,
#columns-dragEnd .column.sortable-over,
#columns-almostFinal .column.sortable-over {
  border: 2px dashed #4e73df;
  color: #4e73df;
  font-weight: bold;
}

​ .jobParmNum {
  flex: 0 0 3.33333%;
  max-width: 3.33333%;
}

.readonly {
  background-color: #4E73DF;
  opacity: 1;
  color: #e5e5e5;
  font-weight: 500;
}

/*jobAction popup*/
.Action {
  width: 410px;
}

.week {
  display: none;
}

.Day {
  display: none;
  width: 60px;
}

.month {
  display: none;
  width: 10%;
}

.year {
  display: none;
  width: 10%;
}

.end {
  display: none;
}

/*잡 실행 테이블, 로그 고정*/
.table-list {
  min-height: calc((1vh) * 60);
}

.Job_log {
  height: 300px;
}

.Job_logarea {
  width: 98%;
  height: 270px;
  margin-left: 1%;
  margin-right: 1%;
  background: #ebfbfd;
  border-color: white;
}

/*잡-프로그램 구성 파라미터*/
.jobParm {
  width: 100%;
}

.jobParmNum {
  width: 3%;
}

.jobParamSulArr {
  width: 17%;
}

.gusungPage {
  margin-top: 10px;
}

.hoverTable tr:hover {
  background-color: rgb(149, 172, 247);
}

.progress-percent {
  text-align: center;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.pagination {
  justify-content: center;
}

/* 
* 2020-05-20 이지흠
*/

.custom-row {
  display:inline-block;
  width:100%;
}
.custom-row:last-child {
  margin-left:auto !important;
}
.custom-row > div, 
.custom-row > select, 
.custom-row> input[type="text"]  {
  display:inline-block !important;
  width: auto;
}
.custom-row> #workLargeVal {
  min-width: calc((1vh) * 15);
  margin: 0 !important;
}
.custom-row> #workMediumVal {
  min-width: calc((1vh) * 25);
  margin: 0 !important;
  margin-right: 0.5rem !important;;
}

/* 모니터링 monitoring */
#scheduleList > thead th {
 padding-top:0.25rem;
 padding-bottom:0.25rem;
}